JWT_SECRET=
SERVICE_DB_DSN=
APP_DB_DSN=

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=

PAYSTACK_SECRET_KEY=sk_test_...
PAYSTACK_PUBLIC_KEY=

FLUTTERWAVE_PUBLIC_KEY=
FLUTTERWAVE_SECRET_KEY=FLWSECK_TEST-...
FLUTTERWAVE_WEBHOOK_HASH=<a string you make up and also paste into Flutterwave's dashboard>